<form nz-form [formGroup]="loginForm" class="layout" (ngSubmit)="enter()" nz-typography>

  <label for="username">Usuário</label>
  <nz-form-item>
    <nz-form-control nzErrorTip='Usuário não informado'>
      <nz-input-group nzSize="large">
        <input id="username" type="text" nz-input placeholder='Informe o usuário' formControlName="username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <label for="password">Senha</label>
  <nz-form-item>
    <nz-form-control nzErrorTip='Senha não informada'>
      <nz-input-group nzSize="large">
        <input id="password" type="password" nz-input placeholder='Informe a senha' formControlName="password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [nzSize]="'large'" type="submit" class="btn-enter">
    Acessar
  </button>
</form>
