<breadcrumb class="layout default-background" #parent>
    <nz-breadcrumb class="container">
        <nz-breadcrumb-item>
            <a [routerLink]="['/']">{{ 'breadcrumb.root' | translate }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let route of parent.breadcrumbs">
            <a *ngIf="!route.terminal" [routerLink]="[route.url]">{{ ('breadcrumb.' + route.displayName) | translate }}</a>
            <span *ngIf="route.terminal" class="terminal">{{ ('breadcrumb.' + route.displayName) | translate }}</span>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</breadcrumb>
